@import "toolTip.scss";

//Main Sections
body {
    margin: 2px;
    font-color: red;
}

h2 {
  margin: 5px 5px 1px 5px;
}

.inline {
  display: inline;
}

fieldset {
  border-style: none;
  margin:  0 0 0 10px;
  padding: 0;
}

input {
  padding-left: 5px;
}

button {
  background-color: transparent;
  border-style: none;
}

button:hover {
  opacity: 0.7;
  color: blue;
}

.btn {
  height: auto;
  max-width: 15px;
  // vertical-align: bottom;
}

//Section class names
.section {
  display: flex;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: groove;
  margin-top:10px;
}

#assignTask {
  display: none;
}

#editFamily {
  display: block;
}

.hidden {
  display: none;
}

.form {
  margin: 10px auto 10px auto;
  width: 80%;
  text-align: left;
  label {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  input {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  button {
    margin-top: 10px;
  }
}



.status-message {
  color: red;
  font-weight:bold;
  text-align: center;
  margin-block-start: 3px;
  margin-block-end: 3px;
}

.arrowUp {
  transform: rotate(180deg);
}

.arrowSide {
  transform: rotate(90deg);
}

.formReadOnly {
  border-style: none;
}

.category {
  background-color: #d5d5d5;
  margin-top: 2px;
  padding: 2px 0 2px 10px;

}

.table {
  background-color: white;
  // display: block;
}

.row {
  display: grid;
  grid-template-columns:0.5fr 2fr 10fr;
  // grid-template-rows: 1fr 3fr 0fr;
  grid-template-areas:
    "time assn task";
  padding: 1px 0 1px 5px;
}

.task {
  grid-area: task;
  padding-left: 5px;
}

.assigned {
  grid-area: assn;
}

.time {
  grid-area: time;
}

// .frequency {
//   grid-area: freq;
// }
//
// .note {
//   // visibility: hidden;
//   // display: none;
//   grid-area: note;
// }
