.showPopUp {
  display: block;
}

.popUp {
  cursor: pointer;
  position: fixed;
  text-align: center;
  top: 80px;
  // width: 100%;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10px;
  z-index: 100;
  button{
    background-color: white;
    padding: 6px;
    border-radius: 1px;
    border-color: black;
    box-shadow: 1px 1px 1px #b1b1b1;
    margin-top: 20px;
  }
  p {
    color: black;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
  }
}

.popUp .alert {
    display: inline-block;
    border-radius: 10px;
    background-color: #ffebea;
    box-shadow: 1px 1px 5px #929191;
    height: auto;
    min-height: 100px;
    // width: 60%;
    // position: relative;
    padding: 10px 5%;
    right:auto;
    left:auto;
}

.alert {
  color: #61057f;
  font-weight: bold;
  font-size: 1.3em;
}
