/* tblUsers container */
.trans {
  background: transparent;
  border: none;
}

.edit {
  background-color: #ffecf4;
}

.saved {
  background-color: #e4fbe4;
}

#tblUsers button {
  font-size: 20px;
  font-weight: bold;
}

// input[type=text] {
//     background: transparent;
//     border: none;
// }

// #tblUsers {
  table {
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;



    input {
      margin: 0;
      text-align: center;
    }
    input[type=text] {
        background: transparent;
        border: none;
    }
    input[type=color] {
      border-width: 0;
      border-style: none;
      width: 25px;
      height: 25px;
      padding: 0;
    }
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    // width:80%;
    margin: 0 auto 0 auto;
    // padding: 0 5px 0 5px;
    padding: 0;
  }

  tr:nth-of-child(odd) {
      border: 1px solid #f3f3f3;
  }

  tr:nth-of-child(even) {
      background-color: #f3f3f3;
      border: 1px solid #dddddd;
  }

  // tr:nth-child(4n), tr:nth-child(4n-1) {
  //   // background-color: #dddddd;
  //   border: 1px solid #f3f3f3;
  // }
  //
  // tr:nth-child(4n-2), tr:nth-child(4n-3) {
  //   background-color: #f3f3f3;
  //   border: 1px solid #dddddd;
  // }

// }
// .table {
//   display: block;
//   // grid-template-columns: 1fr, 1fr, 1fr;
//   // grid-template-rows: auto;
//   // grid-template-areas:
//   //   'name init colr';
//   // flex-wrap:nowrap;
//   .tblRow {
//     display: block;
//     .userID {
//       display: none;
//     }
//     .name {
//       display:inline;
//       width: 30px;
//       grid-area: name;
//     }
//     .initial {
//       display:inline;
//       width: 30px;
//       grid-area: init;
//     }
//     .color {
//       display:inline;
//       width: 30px;
//       grid-area: colr;
//     }
//     .admin {
//       display: none;
//     }
//     .email {
//       display: none;
//     }
//     button {
//       font-weight: bold;
//     }
//   }
// }
